%div
  %h1 Welcome
  %ul.list-inline
    %li.btn.btn-lg
      %h2
        = link_to "Hospitals", facilities_path
    %li.btn
    %li.btn.btn-lg
      %h2
        = link_to "Medications", medications_path