%table.table
  %tr
    %th Name
    %th Age
    %th Gender
    %th Status
    %th
    %th 

  - @facility.patient.appointments.each do |appointment|


  - @facility.doctor.appointments.each do |appointment|
    